@model List<AppUser>
@{
    ViewData["Title"] = "GetAllUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Role Assign</th>
    </tr>

    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td user-roles="@item.Id"></td>
            <td>
                <a class="btn btn-success" asp-action="RoleAssign" asp-route-id="@item.Id">Role Assign</a>
            </td>
        </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">Üye bulunmamaktadır.</td>
        </tr>
    }
</table>

